/* NƏZRİN */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html, body{
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

*{
    box-sizing: border-box;
}

.wrapper{
    width: 100vh;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
    width: 1440px;
    height: 68px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219.54px;
    height: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}

.right{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    font-weight: 400px;
    width: 811px;
}
.border{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 231px;
    height: 68px;
    border: 1px solid black;
    border-radius: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: white;
}
.first{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
p{
    width: 100px;
}

































































































































































/* SƏNAN */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.main-top{
    display: flex;
    flex-direction: row;
    height: 515px;
    justify-content: space-between;
      font-family: "Space Grotesk", sans-serif;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top:70px;}

.main-right{align-items: center;}

.main-top-right{
    height: 515px;
    width: 600px;
    margin-top:70px}
.main-left{
    display: flex;
    flex-direction: column;
    height: 481px;
    margin-top: 0px;
    position: relative;}
.main-left-button-back{
    background-color: #b9ff66;
    color: white;
    border-radius: 14px;
    border-style: none;
    padding: 20px 25px;
    margin-top: 35px;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: opacity 0.2s;}
.main-left-button{
    background-color: black;
    color: white;
    border-radius: 14px;
    border-style: none;
    padding: 20px 25px;
    margin-top: 35px;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: opacity 0.2s;
    position: absolute;
    left: 0px;
    bottom: -1px;}

.main-left-text{
    line-height: 28px;
    font-size: 20px;
    width: 498px;
    margin-top: 35px;}
.main-left-h1{
    width: 531px;
    height: 231px;
    font-size: 61px;
    margin-top: 0px;
    margin-bottom: 0px;}
.main-left-button:hover{
    text-align: center;
    background-color: #1d2710;}
.main-left-button:active{bottom: -7px;}

/* GÜLNAR */

.logoes{
    display: flex;
    justify-content: space-between;
    gap: 95.9px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 47px;
    margin-bottom: 80px;
}
.logoes img{
    height: 48px;
    color: black;
}
.first-logo{
    width: 124.11px;
}
.second-logo{
    width: 126.37px;
}
.third-logo{
    width: 128.63px;
}
.fourth-logo{
    width: 145.55px;
}
.fifth-logo{
    width: 125.24px;
}
.last-logo{
    width: 110.57px;
}



































































/* HƏMİD */


































